{{ define "main" }}

<div class="about animated fadeInDown">
    {{ range first 10 .Site.RegularPages }}
        {{ if eq .Type "special"}}
        <div class="post-content">
            {{ .Content }}
        </div>
        <figure>
          <img src = "images/Halong.JPG" style = "border-radius:16px;width:50%;padding-left:5%" />
        </figure>
        {{ else if eq .Type "post"}}
        <div>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ .Summary }}
          </div>
          {{ if .Truncated }}
          <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <div>
            <a href="{{ .RelPermalink }}">Read More…</a>
          </div>
          {{ end }}
        {{ end }}
    {{ end }}
</div>

{{ end }}